/**
 * Buttons
 */
.btn {
  display: inline-block;
  padding: .5em 1em;

  background-color: #e6e6e6;
  border: 0 rgba(#000, 0);
  border-radius: 2px;

  font-family: inherit;
  font-size: 100%;
  text-decoration: none;
  color: rgba(#000, .8);

  &:hover {
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
  }
}