/**
 * Page
 */
page-item {
  display: block;

  border-bottom: 1px solid #eee;
}

.page-item-content {
  position: relative;
  padding: 1em;

  &:hover {
    .page-item-remove {
      opacity: .5;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.page-item-remove {
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  padding: 3px 5px;

  background-color: #e00;
  opacity: 0;

  font-size: .8em;
  text-decoration: none;
  color: #fff;

  transition: .3s ease-in-out;
}

.page-control {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 10px;

  border: 1px solid #ccc;

  font-size: 1em;

  transition: .3s ease-in-out;

  &:focus {
    outline: none;
  }
}

.page-title-control,
.page-subtitle-control {
  background-color: rgba(#fff, .7);
  border: 0;
  border-bottom: 1px solid #ccc;

  &:focus {
    background-color: rgba(#fff, .5);
  }
}

.page-title-control {
  font-size: 3em;
}

.page-subtitle-control {
  font-size: 2em;
}

.page-item-img-container {
  float: left;

  width: 33.33%;

  border: 1px solid #ccc;

  text-align: center;

  input {
    width: 100%;
    padding: 2px 5px;

    border: 0;
    border-bottom: 1px solid #ccc;
  }

  img {
    width: 94%;
    height: auto;
  }
}