/**
 * Toolbar
 */
.toolbar-list {
  list-style-type: none;
}

.toolbar-item {
  margin: 1em;

  background-color: #fafafa;
  border: 1px solid #eee;
  border-radius: 6px;
}

.toolbar-item-content {
  padding: 2em;
}