/**
 * Micro-reset
 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
main {
  height: 100%;
}

body {
  font-family: $font-family;
  color: $font-color;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.content {
  float: left;

  width: 75%;
  height: 100%;
}