<!DOCTYPE html>
<html ng-app="myApp" lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Page Builder</title>

  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="vendor/highlightjs/styles/googlecode.css">
</head>
<body>
  <main ng-controller="MainCtrl as ctrl">
    <section id="page-builder" class="content">
      <section class="panel">
        <ul class="toolbar-list">
          <li
            class="toolbar-item"
            ng-repeat="item in ctrl.items"
            ui-draggable="true"
            drag="item"
            drag-channel="A">
            <div class="toolbar-item-content">{{ item.name }}</div>
          </li>
        </ul>
      </section>
      <section
        class="panel scroller-item"
        drop-channel="A"
        ui-on-drop="ctrl.onDrop(1, $data)">
        <page-item
          ng-repeat="pageItem in ctrl.pageItems"
          template="pageItem.template"
          content="pageItem.data"
          on-remove="ctrl.removeItem($index)">
        </page-item>
      </section>
    </section>
    <section class="output scroller-item" hljs source="ctrl.jsonToString(ctrl.pageItems)"></section>
  </main>

  <script src="vendor/angular/angular.js"></script>
  <script src="vendor/highlightjs/highlight.pack.js"></script>
  <script src="vendor/angular-highlightjs/angular-highlightjs.min.js"></script>
  <script src="vendor/angular-native-dragdrop/draganddrop.js"></script>
  <script src="assets/js/pages/services/TemplateService.js"></script>
  <script src="assets/js/pages/controllers/MainController.js"></script>
  <script src="assets/js/pages/directives/PageItem.js"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>